body{
		background-color:#23292e;
		font-family:Raleway;
		color:#fff;
	}
	.container{
		margin-top:110px;
	}
	.main-logo{
		text-align: center;
		position:relative;
		height:130px;
	}
	.main-logo img{
		position:absolute;
		top:0;
		left:calc(50% - 160px);
	}
	.secondrow{
		border-top:1px solid #fff;
		border-bottom:1px solid #fff;
	}
	.firstdiv{
		text-align:right;
		font-size:250px;
		font-weight: 600;
		padding:0;
	}
	.seconddiv{
		font-size:60px;
		font-weight: 700;
		text-align:left;
		padding-top:80px;
	}
	.seconddiv img{
		display:block;
	}
	.seconddiv p{
		font-size:20px;
		font-weight: 400;
		margin-top:20px;
		line-height:30px;
	}
	.seconddiv ul{
		list-style: none;
		margin:10px 0;
	}
	.seconddiv ul li{
		float:left;
	}
	.seconddiv ul li a{
		padding:0 20px;
		color:#fff;
		text-decoration: none;
		font-size:16px;
		font-weight: 500;
		border-left:1px solid #ccc;
	}
	.seconddiv ul li a:hover {
		color:#048FE8;
	}
	.seconddiv ul li:first-child a{
		padding-left:0;
		border-left:0;
	}