.pages{
	margin: 7px;
	padding: 7px;
	border: 1px white bold;
	color: white;
	background-color: black;

}.page{
 display: block;
    margin-left: auto;
    margin-right: auto ;
	text-align: center;
	margin-top: 16px;
	margin-bottom: 16px;
}
.home-heading2{ text-align: center;}
.home-heading2 h1{color:#75CC58;font-weight:400;display:inline-block; font-size:2em;margin:40px auto;font-family:Raleway;padding:0 40px;border-right:10px solid #75CC58;border-left:10px solid #75CC58;}

.info, .success, .warning, .error, .validation {
border: 1px solid;
margin: 10px 0px;
margin-left: 10px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
width: 80%;
}
.info {
color: #00529B;
background-color: #BDE5F8;
background-image: url('info.png');
}
.success {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url('success.png');
}
.warning {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('warning.png');
}
.error {
color: #D8000C;
background-color: #FFBABA;
background-image: url('error.png');
}
.notif_number{background:#e74747;top:10px;right:22px;padding:0 6px;display:inline-block;font-size:10px;color:#fff;border-radius:100%;position:absolute}

.series_filter {margin-left:8px;}
.series_filter span{display:inline-block;font-size:14px;padding:0 4px 2px;border-radius:3px;margin-right:4px;margin-left:4px;margin-top:8px;color:#e74747; background-color: #d5dbe4}
.series_filter span:hover{background:#e74747;color:#d5dbe4;}