.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
}

/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}

/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%;
}

.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
.notification_list{width:300px}.notification_list li{display:block}.notification_list img{float:left;width:50px}.notification_list span{display:block;margin-left:60px}.notification_list a{display:inline-block;width:100%;padding:4px}.notification_list a:hover{background:#f4f4f4}.notif_epi{font-size:14px}.notif_serie{font-size:12px;font-weight:700}.new_notif{background:#e74747;color:#fff;font-size:9px;display:inline-block;margin-left:0;float:right;padding:0 4px;margin-top:4px}